<% include header %>
    <div class="teste">
        <h2>Calculadora</h2>
        <form method="GET" class="form">
            <div class="form-field">
                <label for="valorInicial">Valor inicial: </label><br>
                <input id="valorInicial" type="text" name="valorInicial"><br>
            </div>
            <div class="form-field">
                <label for="taxa">Taxa a.m: </label><br>
                <input id="taxa" type="text" name="taxa"><br>
            </div>
            <div class="form-field">
                <label for="tempo">Qtd meses:</label><br>
                <input id="tempo" type="text" name="tempo"><br>
            </div>
            <button type="submit">Calcular</button>
        </form>
    </div>

    <% if(resultado.calculado){ %>                            
        <h3>Resultado R$ <%= resultado.total.toFixed(2) %></h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Mês</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <% resultado.evolucao.forEach((valor, posicao) => { %>
                    <tr>
                        <td>
                            <%= posicao+1%>
                        </td>
                        <td>R$
                            <%= valor.toFixed(2)%>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } %>
            <% include footer %>