<% include header %>
    <h2>Contas</h2>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor estimado</th>
                <th>Vencimento</th>
            </tr>
        </thead>
        <tbody>            
        <%  contas.forEach((conta) => { %>            
            <tr>
                <td>
                    <%= conta.descricao%>
                </td>
                <td>R$
                    <%= conta.valorEstimado%>
                </td>
                <td>
                    <%= conta.diaVencimento %>
                </td>
            </tr>
        <% }) %>                           
        </tbody>
    </table>

    <% include footer %>