<html>
<head>
    <title>Meu dinheiro</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <section class="header">
        <img src="images/meu-dinheiro.png">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calculadora">Calculadora</a></li>
            <li><a href="/operacoes">Operações</a></li>
            <li><a href="/nova-operacao">Nova operação</a></li>
            <li><a href="/contas">Contas</a></li>
            <li><a href="/nova-conta">Nova conta</a></li>
        </ul>
    </section>
    <section class="content">