<html>

<head>
    <title>Meu dinheiro</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <section class="header">
        <img class="img-logo" src="images/meu-dinheiro.png">
    </section>
    <section class="navbar">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/calculadora"><li>Calculadora</li></a>
            <a href="/operacoes"><li>Operações</li></a>
            <a href="/nova-operacao"><li>Nova operação</li></a>
            <a href="/contas"><li>Contas</li></a>
            <a href="/nova-conta"><li>Nova conta</li></a>
        </ul>
    </section>
    <section class="content">