<% include header %>
    <h2>Nova conta</h2>
    <form method="POST">
        Descrição: <input type="text" name="descricao"><br>
        Valor estimado: <input type="text" name="valor"><br>
        Dia de vencimento: <input type="text" name="vencimento"><br>
        <button type="submit">Confirmar</button>
    </form>    
<% include footer %>