<% include header %>
    <h2>Nova operação</h2>
    <form method="POST">
        Descrição: <input type="text" name="descricao"><br>
        Valor: <input type="text" name="valor"><br>
        <button type="submit">Confirmar</button>
    </form>    
<% include footer %>