body {
    margin: 0;
    font-family: sans-serif;
}

.header{
    background: grey;
    padding: 20px;
    text-align: center;
}

.content {
    background: #e2e2e2;
}

.resultado {
    width: 300px;
    margin: 0 auto;
    background: orangered;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}